*.exe
/.idea
/.vscode/c_cpp_properties.json
/compile
/build
/cmake-build-debug
/cmake-build-debug-visual-studio
/build-cinf_gui-Desktop_Qt_5_14_2_MSVC2017_64bit-Debug
# /sources/utils/test_ocr.cpp
/sources/utils/test_arma.cpp
# CMakeLists.txt
workspace.code-workspace
gui/cinf_gui.pro.user
gui/cinf_gui.pro.user.6d7350b
